---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Get, Var, Identifier } from '../../components/Links.js';
import * as info from '../../info.js';
---

<Page title="boolean">
  <Block>
    <p>In { info.project }, a <strong>boolean</strong> value is specified with the <Identifier plural /> of <code>true</code> and <code>false</code>. The boolean value is valid anywhere that values can be passed, such as property values and function arguments.</p>
  </Block>

  <section>
    <h2>Example</h2>
    <Block>
      <p>Here we are toggling a class to be shown or not depending on an attribute selector.</p>
      <Code slot="code" lang="css" code={`
body[mode=dark] {
  class-toggle[highlight]: false;
}

body.high-contrast {
  class-toggle[highlight]: true;
}
`} />
    </Block>
  </section>
</Page>