---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Attr, AttrToggle, AttrValue, ClassToggle, Prop, Data } from '../../components/Links.js';
---

<Page title="Keyed properties">
  <Block>
    <p>A keyed property is one where you can provide a key via the square bracket syntax. This lets you separate declarations for each key (for example the class name with <ClassToggle />.</p>
    <Code slot="code" lang="js" code={`
#app {
  class-toggle[dark-mode]: \${true};
  data[my-prop]: "value";
}

input {
  attr[type]: "text";
}
`} />
  </Block>
  <section>
    <h2>Reference</h2>
    <p>These properties are all <strong>keyed properties</strong>.</p>

    <dt><Attr /></dt>
    <dd>Sets attributes on an element. Shorthand for <AttrValue /> and <AttrToggle />.</dd>
    <dt><AttrToggle /></dt>
    <dd>Controls if an attribute is added or removed.</dd>
    <dt><AttrValue /></dt>
    <dd>Sets the attribute value of an element.</dd>
    <dt><ClassToggle /></dt>
    <dd>Sets the classes on an element.</dd>
    <dt><Prop /></dt>
    <dd>Sets DOM properties on an element.</dd>
    <dt><Data /></dt>
    <dd>Sets data-* properties on an element.</dd>
  </section>
</Page>