---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Attr, ClassToggle, Event, Prop, Data } from '../../components/Links.js';
import * as info from '../../info.js';
---

<Page title="Multi-binding properties">
  <Block>
    <p>In { info.project }, a <strong>multi-binding property</strong> is a property that can set multiple bindings within a single declaration. In CSS a property usually corresponds to a single thing; an element can only have 1 color. However the use cases in { info.project } need setting multiple things; for example you might want to set multiple <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/class">classes</a> with <ClassToggle />.</p>
  </Block>
  <Block>
    <p>The <Attr /> property is an example of a multi-binding property. You can set multiple attribute values in a single declaration. Here we are setting the <code>type</code>, <code>value</code>, and <code>placeholder</code> attribute of an input element. Each binding is separated with a comma.</p>
    <p>Seperating different bindings by putting them on separate lines improves readability on these types of bindings.</p>
    <Code slot="code" lang="css" code={`
input {
  attr:
    type "text",
    placeholder "Your username",
    value: var(--username);
}
`} />
  </Block>
  <section>
    <h2>Reference</h2>
    <Block>
      <p>These properties are all <strong>multi-binding properties</strong>.</p>

      <dl>
      <dt><Attr /></dt>
      <dd>Sets attributes on an element.</dd>
      <dt><ClassToggle /></dt>
      <dd>Sets the classes on an element.</dd>
      <dt><Event /></dt>
      <dd>Sets event listeners on an element.</dd>
      <dt><Prop /></dt>
      <dd>Sets DOM properties on an element.</dd>
      <dt><Data /></dt>
      <dd>Sets data-* properties on an element.</dd>
      </dl>
    </Block>
  </section>
</Page>