---
import { Page, Block, Code, info } from '../../../components/DocPage.js';
import { Behavior, MDNMap } from '../../../components/Links.js';
---
<Page title="Behavior()">
  <Block>
    <p>The <strong>behavior constructor</strong> is the constructor of a class for a <Behavior />. The constructor is <em>optional</em>, but can be provided to receive props (defined through the static <code>inputProperties</code>) and the context.</p>
  </Block>
  <section>
    <h2>Syntax</h2>
    <Block reverse>
      <Code slot="code" lang="js" code={`
new Behavior(props, context);
`} />
    </Block>
    <h3>Arguments</h3>
    <dl>
      <dt>props</dt>
      <dd>A <MDNMap /> where the keys are the properties defined in <strong><Behavior hash="inputProperties">inputProperties</Behavior></strong> and the values are the custom property values within the parent sheet.</dd>
      <dt>context</dt>
      <dd>
        <p>An object containing contextual information about the use of the behavior. Context includes:</p>

        <dl class="ml-3 mt-1">
          <dt>element</dt>
          <dd>The element that the behavior is mounted on.</dd>
          <dt>rebind</dt>
          <dd>
            <p>Recalls the <code>bind()</code> method and updates bindings that have changed.</p>
            <Code lang="js" code={`
class Item {
  constructor(props, { rebind }) {
    // Calling this function will
    // call bind() immediately afterwards.
    this.rebind = rebind;
  }

  fn() {
    this.value = 'bar';
    this.rebind();
  }

  bind() { /* ... */ }
}
`} />
          </dd>
        </dl>
      </dd>
    </dl>
  </section>
</Page>