---
import { Page, Block, Code, info } from '../../components/DocPage.js';
import { API, Concepts } from '../../components/Links.js';
---

<Page title="Installation">
	<Block>
			<p><strong>{ info.project }</strong> can be used a couple of different ways. If you are using <a href="https://www.npmjs.com/package/corset">npm</a>, there is a package available. { info.project } can also be used via a CDN which works great outside of that workflow.</p>
	</Block>

	<section>
		<h2>With the CDN</h2>
		<Block>	
			<p>{ info.project } is accessible through a CDN at <strong>cdn.corset.dev</strong>. This is the easiest way to get started using it.</p>
			<p>The default export is a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#tagged_templates">tagged template function</a> that takes a string of a CSS-like language.</p>

			<Code slot="code" lang="js" code={`
import sheet, { mount } from '${info.cdnURL}';

mount(document, class {
  name = 'Wilbur';

  bind() {
    const { name } = this;
    return sheet\`
      .name {
        --name: \${name};
        text: var(--name);
      }
    \`;
	}
});
`}></Code>
		</Block>
	</section>

	<section>
		<h2>With npm</h2>
		<Block>
			<p>{ info.project } can be installed from <a href="https://www.npmjs.com/package/corset">npm</a> and used with any bundler. Install the <strong>{ info.npmPkg }</strong> on npm and import the default export like so:</p>
			<Code slot="code" lang="js" code={`
import sheet, { mount } from '${info.npmPkg}';

mount(document, class {
  name = 'Wilbur';

  bind() {
    const { name } = this;

    return sheet\`
      .name {
        --name: \${name};
        text: var(--name);
      }
    \`;
  }
});
`} />
		</Block>
	</section>

	<section>
		<h2>With CodePen</h2>
		<Block>
			<p>You can use <a href="https://codepen.io/matthewp/pen/abyqPGw">this CodePen</a> as a starter for testing out ideas or creating demos with { info.project }.</p>
		</Block>
	</section>

	<section>
		<h2>Further reading</h2>
		<Block>
			<p>Now that you have { info.project } installed, read more about using { info.project }.</p>
			<dt>
				<Concepts titleCase />
			</dt>
			<dd>Learn about the fundamental concepts of { info.project } and what makes it different.</dd>
			<dt>
				<API />
			</dt>
			<dd>Dive straight into the deep end and learn about the API, both on the JavaScript side and the DSL.</dd>
		</Block>
	</section>

</Page>