h2, h3, h4, h5 {
  margin-block: var(--size-fluid-2) var(--size-fluid-1);
}

article {
  padding: var(--size-4) var(--size-8);
}

.doc-title,
.doc-block > h2, .doc-block > h3, .doc-block > h4, .doc-block > h5 {
  margin-block: var(--size-fluid-1);
}

.doc-block-content p {
  margin-block: var(--size-fluid-1);
}

@media(max-width: 520px) {
  article {
    padding: var(--size-4) var(--size-4);
  }
}

.mt-1 {
  margin-top: var(--size-fluid-1);
}

.ml-3 {
  margin-left: var(--size-fluid-3);
}