h2, h3, h4, h5 {
  margin-block: var(--size-fluid-2) var(--size-fluid-1);
}

article {
  padding: var(--size-4) var(--size-8);
}

.doc-block {
  margin-block: var(--size-fluid-2);
}

.doc-block-content {
  display: grid;
  grid-template-columns: 5fr 4fr;
  column-gap: var(--size-3);
}

.doc-title,
.doc-block > h2, .doc-block > h3, .doc-block > h4, .doc-block > h5 {
  margin-block: var(--size-fluid-1);
}

.doc-block-content p {
  margin-block: var(--size-fluid-1);
}