.hero-header {
  --max-column-width: 1fr;
  --min-column-width: 385px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), var(--max-column-width)));
  background: var(--grape-0);
}

.hero {
  padding: var(--size-8);
  padding-top: var(--size-11);
  display: grid;
  justify-content: center;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--gray-9);
  line-height: var(--font-lineheight-0);
  text-align: center;
}

.hero-message > div:last-child {
  color: var(--indigo-7);
}

.under-hero {
  color: var(--gray-7);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.button-list {
  display: flex;
  gap: var(--size-3);
  justify-content: center;
}

button, .button {
  background: white;
  color: var(--indigo-8);
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

a.button {
  margin-block: 0;
}

button.primary, .button.primary {
  background: var(--indigo-8);
  text-shadow: 0 1px 0 var(--indigo-9);
  color: white;
}

button.primary:hover, .button.primary:hover {
  background: var(--indigo-7);
}