.hero-header {
  --max-column-width: 1fr;
  --min-column-width: 385px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), var(--max-column-width)));
}

.hero {
  padding: var(--size-8);
  padding-top: var(--size-11);
  display: grid;
  justify-content: center;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: 1fr;
  max-inline-size: unset;
  color: var(--gray-9);
  line-height: var(--font-lineheight-0);
  text-align: center;
}

.hero-message > div:last-child {
  color: var(--indigo-7);
}

.under-hero {
  color: var(--gray-7);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.button-list {
  display: flex;
  gap: var(--size-3);
  justify-content: center;
}

.button-list {
  flex-wrap: wrap;
}

@media(max-width: 520px) {
  .button-list > * {
    flex-grow: 1;
    flex-basis: 140px;
  }
}

.button-list > * {
  flex-shrink: 1;
  text-align: center;
}

button, .button {
  background: white;
  color: var(--indigo-8);
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

a.button {
  margin-block: 0;
}

button.primary, .button.primary {
  background: var(--indigo-8);
  text-shadow: 0 1px 0 var(--indigo-9);
  color: white;
}

button.primary:hover, .button.primary:hover {
  background: var(--indigo-7);
}

.example {
  display: grid;
  justify-items: center;
  padding-block: var(--size-fluid-6);
  gap: var(--size-fluid-4);
}

.example header {
  display: grid;
  justify-items: center;
}

.explanation {
  font-size: var(--font-size-3);
}

article {
  padding: var(--size-4) var(--size-8);
}

.block-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-fluid-3);
}

.block-wrap > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: var(--size-content-2);
}