header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background: var(--grape-0);
}

.hero {
  padding: var(--size-10);
  display: grid;
  gap: var(--size-5);
}

.hero-message {
  display: grid;
  grid-template-columns: max-content;
  color: var(--gray-9);
  line-height: var(--font-lineheight-0);
}

.hero-message > div:last-child {
  color: var(--indigo-7);
}

.under-hero {
  color: var(--gray-7);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);
}

.button-list {
  display: flex;
  gap: var(--size-3);
}

button, .button {
  background: white;
  color: var(--indigo-8);
  font-size: var(--font-size-3);
  padding-inline: var(--size-8);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

a.button {
  margin-block: 0;
}

button.primary, .button.primary {
  background: var(--indigo-8);
  text-shadow: 0 1px 0 var(--indigo-9);
  color: white;
}

button.primary:hover, .button.primary:hover {
  background: var(--indigo-7);
}

.promo-art {
  align-self: stretch;
}

.promo-art > img {
  block-size: 100%;
  object-fit: cover;
}