html, body {
  margin: 0;
  padding: 0;
  --corset-logo-color: var(--pink-4);
  --opaque-black: rgba(0, 0, 0, .6);
  --link-visited: var(--grape-8);
}

body {
  background: linear-gradient(315deg, var(--cyan-1) 40%, var(--pink-1) 100%);
  /*background: var(--grape-0);*/
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.dark {
  background-color: var(--gray-9);
}

.corset-logo {
  fill: var(--corset-logo-color);
}

.page-footer {
  padding-block: var(--size-7);
  padding-inline: var(--size-6);
}

.page-footer.dark {
  background-color: var(--gray-3);
  color: var(--teal-9);
}

.page-footer-copyright {
  font-size: var(--font-size-0);
}