html, body {
  margin: 0;
  padding: 0;
  --corset-logo-color: var(--pink-4);
  --opaque-black: rgba(0, 0, 0, .6);
  --link-visited: var(--grape-8);
}

body {
  background: linear-gradient(315deg, var(--cyan-1) 40%, var(--pink-1) 100%);
  /*background: var(--grape-0);*/
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.dark {
  background-color: var(--gray-9);
}

.corset-logo {
  fill: var(--corset-logo-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--grey-8);
  }

  h1,h2,h3,h4,h5,h6,dt {
    color: var(--grape-7);
  }
}