---
import { Page, Block } from '../../components/DocPage.js';
import {
  CustomFunctions,
  CustomProperties,
  LearnStores,
  StoreGet,
  Store
  } from '../../components/Links.js';
---

<Page title="Global Values">
  <Block>
    <strong>Corset global values</strong> are values with special meaning depending on which property they are placed on.
  </Block>

  <Block>
    <dl>
      <dt>
        <a href="values/all/">all</a>
      </dt>
      <dd>Species all values within a multi-value property (such as event).</dd>
      <dt>
        <a href="values/revert-sheet/">revert-sheet</a>
      </dt>
      <dd>Reverts bindings on a property to their original value.</dd>
    </dl>
  </Block>
</Page> 