---
import CommonHead from '../components/CommonHead.astro';
import NavHeader from '../components/NavHeader.astro';
---

<html>
<head>
  <CommonHead />
</head>
<body>
  <NavHeader title="API" />

  <main>
    Content here
  </main>
</body>
</html>