---
import { Page, Block,  Code, info } from '../components/DocPage.js';
import { JavaScriptAPI, Properties } from '../components/Links.js';
---

<Page title="API">
	<Block>
    This page contains links to the major sections API documentation on using Corset. To learn on getting started with Corset, see the <a href="learn/installation/">Getting started guides</a> instead.
  </Block>

  <section>
    <h2>Reference</h2>

    <dl>
      <dt><Properties titleCase /></dt>
      <dd>Long and shorthand properties for binding to elements.</dd>
      <dt>
        <a href="functions/">Value functions</a>
      </dt>
      <dd>Functions usable as values such as <code>var()</code> and <code>bind()</code>.</dd>
      <dt>
        <a href="/values/">Global values</a>
      </dt>
      <dd>Special values within a sheet.</dd>
      <dt><JavaScriptAPI /></dt>
      <dd>The Javascript API for Corset, allowing you to create sheets, mount to a root element, register custom functions, and more.</dd>
    </dl>
  </section>
</Page> 
