---
import { Prism } from 'astro/components';
import CopyIcon from './icons/Copy.astro';
import scriptUrl from '../scripts/code-snippet.js?url';

const { lang, code: raw } = Astro.props;
const code = raw.trim();
---

<figure class="code-snippet" data-code={code}>
  <Prism lang={lang} code={code} />
  <div class="code-snippet-copy-area">
    <button type="button" class="code-snippet-copy">
      <CopyIcon title="Copy to clipboard" />
    </button>
  </div>
</figure>
<script type="module" src={scriptUrl} hoist></script>
<style global>
.code-snippet {
  place-items: unset;
  position: relative;
  --border-radius: var(--radius-conditional-2);
}

.code-snippet pre[class*=language-] {
  max-inline-size: unset;
  border-radius: var(--border-radius);
}

.code-snippet-copy-area {
  position: absolute;
  top: var(--size-3);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: var(--size-2);
}

.code-snippet-copy {
  background: var(--violet-7);
  color: var(--violet-2);
  border-radius: var(--border-radius);
  padding: var(--size-1);
}

.code-snippet-copy-area:not(:hover) .code-snippet-copy {
  opacity: 0;
}

.code-snippet-copy svg {
  width: var(--size-7);
  height: var(--size-7);
  stroke: currentColor;
  fill: transparent;
}
</style>