---
import { Prism } from 'astro/components';
import CopyIcon from './icons/Copy.astro';

const { lang, code: raw, title } = Astro.props;
const code = raw.trim();
---

<code-snippet>
  <figure class="code-snippet" data-code={code}>
    { title && (
      <figcaption>{ title }</figcaption>
    )}
    <Prism lang={lang} code={code} />
    <div class="code-snippet-copy-area">
      <button type="button" class="code-snippet-copy">
        <CopyIcon title="Copy to clipboard" />
      </button>
      <div class="code-snippet-copied-notification" aria-hidden="true">Copied</div>
    </div>
  </figure>
</code-snippet>
<script type="module" src="../scripts/code-snippet.js" hoist></script>
<style global>
code-snippet {
  display: block;
}

.code-snippet {
  place-items: unset;
  position: relative;
  gap: 0;
  --border-radius: var(--radius-conditional-2);
  --snippet-top: var(--size-3);
}

.code-snippet pre[class*=language-] {
  max-inline-size: unset;
  border-radius: var(--border-radius);
}

.code-snippet > figcaption {
  background: var(--cyan-7);
  color: var(--gray-0);
  max-inline-size: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  gap: 0;
  display: grid;
  justify-items: center;
  font-size: var(--font-size-2);
}

.code-snippet > figcaption + pre {
  margin: 0;
}

.code-snippet > figcaption + pre[class*=language-] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-snippet > figcaption + pre + .code-snippet-copy-area {
  --snippet-top: var(--size-7);
}

.code-snippet-copy-area {
  position: absolute;
  top: var(--snippet-top);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: var(--size-2);
}

.code-snippet-copy {
  background: var(--violet-7);
  color: var(--violet-3);
  border-radius: var(--border-radius);
  padding: var(--size-1);
  z-index: 1;
}

.code-snippet-copy:hover {
  color: var(--violet-2);
}

.code-snippet-copy-area:not(:hover) .code-snippet-copy,
.code-snippet-copy-area:not(:hover) .code-snippet-copied-notification {
  opacity: 0;
}

.code-snippet-copy svg {
  width: var(--size-7);
  height: var(--size-7);
  stroke: currentColor;
  fill: transparent;
}

.code-snippet-copied-notification {
  position: absolute;
  writing-mode: vertical-rl;
  margin-right: var(--size-2);
  border-radius: var(--border-radius);
  z-index: 0;
  background: var(--violet-9);
  color: var(--violet-3);
  padding: var(--size-2) 0;
  transform: translateY(-14px) scale(0.5);
  transition: transform .3s linear;
}

.code-snippet-copied-notification[aria-hidden=false] {
  transform: translateY(45px) scale(1);
}
</style>