---
const { reverse } = Astro.props;
---
<div class:list={{'doc-block': true, 'doc-block-reverse': reverse}}>
  <div class="doc-block-content">
    <div><slot></slot></div>
    <slot name="code"><div></div></slot>
  </div>
</div>
<style is:global>
.doc-block {
  margin-block: var(--size-fluid-2);
}

.doc-block-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.doc-block-reverse > .doc-block-content {
  flex-direction: row-reverse;
}

.doc-block-content > div {
  flex-grow: 2.5;
  flex-shrink: 0;
  flex-basis: 320px;
}

.doc-block-reverse > .doc-block-content > div {
  flex-grow: 1;
  flex-shrink: 1;
}

.doc-block-content > :nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 380px;
}

.doc-block-reverse > .doc-block-content > :nth-child(2) {
  flex-grow: 2.5;
  flex-shrink: 0;
}
</style>