---
import Logo from './Logo.astro';
import * as info from '../info.js';
---
<style global>
  .linked-logo {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-7);
    border-radius: var(--radius-2);
    background: var(--opaque-black);
    padding: var(--size-1) var(--size-fluid-1);
  }

  .linked-logo > svg {
    display: inline;
    width: var(--size-4);
    margin-right: var(--size-fluid-1);
  }
</style>
<a class="linked-logo" href="/">
  <span>{ info.project }</span>
</a>