---
import GitHubIcon from './GitHub.astro';
import Logo from './LinkedLogo.astro';
---
<style is:global>
.site-navigation {
  padding-block: var(--size-3);
  padding-inline: var(--size-6);
  display: flex;
  justify-content: space-between;
}

.site-navigation h1 {
  font-size: var(--font-size-4);
}

.site-navigation .page-title h1 a {
  color: var(--blue-1);
  text-decoration: none;
}

.site-navigation-links {
  display: flex;
  align-items: center;
}

.github-icon {
  stroke: unset;
  fill: var(--gray-8);
}
</style>
<nav class="site-navigation">
  <header class="page-title">
    <h1><Logo /></h1>
  </header>
  <div class="site-navigation-links">
    <a href="https://github.com/matthewp/corset"><GitHubIcon /></a>
  </div>
</nav>