---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Get, Sheet, Var } from '../../components/Links.js';
import * as info from '../../info.js';
---
<Page title="custom properties">
  <Block>
    <p>{ info.project } contains <strong>custom properties</strong> that work the same was in CSS.</p>
  </Block>
</Page>