---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Boolean, Event, EventListener } from '../../components/Links.js';
---

<Page title="event-once">
  <Block>
    <p>The <strong>event-once</strong> longhand property specifies if the event should be handled only once.</p>
    <p>event-once is a longhand version of the <Event /> shorthand's 3rd argument. In both forms it accepts a <Boolean /> value.</p>
  </Block>
  <section>
    <h2>Example</h2>
    <Block>
      <p>In this example, the longhand event-once is used with <EventListener /> to specify that the listener should only be called once.</p>
      <Code slot="code" lang="css" code={`
.deprecated {
  event-listener[click]: var(--warn-user);
  event-once[click]: true;
}
`} />
    </Block>
  </section>
</Page>