---
import { Page, Block, Code } from '../../components/DocPage.js';
---

<Page title="text">
  <Block>
      <Code slot="code" lang="jsx" code={`
import React from 'react';

export default function() {
  const year = new Date().getFullYear();

  return <div>Copyright © { year }</div>;
}
`} />
    </Block>
</Page>