---
import { Page, Block, Code } from '../../components/DocPage.js';
import { Insertion, String, Var } from '../../components/Links.js';
import * as info from '../../info.js';
---

<Page title="text">
  <Block>
    <p>The <strong>text</strong> property sets the text of an element. The value can be an value that can be coerced to a string, such as a <Insertion long />, a <Var />, or a <String />. The text property is equivalent to using the DOM property <a href="https://developer.mozilla.org/en-US/docs/Web/API/Node/textContent">textContent</a>.</p>
    <Code slot="code" lang="css" code={`
.name {
  text: var(--user-name);
}    
`} />
  </Block>

  <section>
    <h2>Setting text within a phrase or paragraph</h2>
    <Block>
      <p>Using a traditional JavaScript framework such as <a href="https://reactjs.com/">React</a> you can set text within a block of text, such as within a paragraph. This example shows text being set to insert the current year.</p>
      <Code slot="code" lang="jsx" code={`
import React from 'react';

export default function() {
  const year = new Date().getFullYear();

  return <div>Copyright © { year }</div>;
}
`} />
    </Block>

  </section>
</Page>