---
import CommonHead from '../components/CommonHead.astro';
import NavHeader from '../components/NavHeader.astro';
import Footer from '../components/Footer.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import * as info from '../info.js';
import npath from 'node:path';
import "../styles/doc.css";

const url = new URL(Astro.request.url);
const { title } = Astro.props;

const base = npath.relative(url.pathname, '/') || '.';
---

<html lang="en">
<head>
  <title>{ title } | { info.project }</title>
  <base href={base}>
	<CommonHead />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-theme-night-owl@1.4.0/build/style.min.css">
  <link rel="preload" as="fetch" href={info.cdnWasmURL} crossorigin>
</head>
<body class="doc-page">
	<NavHeader />
  <article>
    <Breadcrumbs title={title} />
    <h1 class="doc-title">{ title }</h1>
    <slot />
  </article>
  <Footer />
</body>
</html>